@use '/src/common/styles/colors' as *;

.form{
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: auto;
    margin-top: 36px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 24px;
    gap: 12px;
    h2 {
        text-align: center;
    }
    label {
        display: flex;
        flex-direction: column;
        input {
            height: 35px;
            width: 472px;
            border: 1px solid #ccc;
            font-size: 16px;
            padding: 14px 16px;
        }
        .error {
            color: $danger;
            text-transform: capitalize;
        }
    }
    button {
        color: $white;
        padding: 14px 16px;
        background-color: $primary;
        font-size: 16px;
        font-weight: 600;
        border-radius: 43px;
        border: none;
    }
}