@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/templates' as *;
@use '/src/common/styles/breakpoints' as *;

.form{
    @include form($formWidth,
        $formMarginTop,
        $formBoxShadow,
        $formPadding,
        $formGap);
    h2 {
        text-align: center;
    }
    label {
        @include flex-column();
        input {
            @include input-text-btn(
                $inputHeight,
                $inputWidth,
                $inputBorder,
                $buttonFontSize,
                $buttonPadding
                );
        }
        .error {
            @extend %error-style;
        }
    }
    button {
        @include btn($white,
            $buttonPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius);
    }
    .error {
        @extend %error-style;
        margin: $paddingZero;
        padding: $paddingZero;
    }
    @media screen and (max-width: $s) {
        width: $elementWidthThird;
        label {
            input {
                width: $elementWidth;
            }
        }
    }
}