@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;

.form{
    @include form($formWidth,
        $formMarginTop,
        $formBoxShadow,
        $formPadding,
        $formGap);
    h2 {
        text-align: center;
    }
    label {
        display: flex;
        flex-direction: column;
        input {
            @include input-text-btn(
                $inputHeight,
                $inputWidth,
                $inputBorder,
                $buttonFontSize,
                $buttonPadding
                );
        }
        .error {
            color: $danger;
            text-transform: capitalize;
        }
    }
    button {
        @include btn($white,
            $buttonPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius);
    }
}