@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/templates' as *;

.products {
    @extend %flex-center;
    flex-wrap: wrap;
    gap: $formPadding;
    svg {
        position: absolute;
        margin: $svgMargin;
    }
}
.product {
    cursor: pointer;
    @include border-button($grey100);
    width: 232px;
    padding: $formGap;transition: $hoverEffect;
    &:hover {
        transition: $hoverEffect;
        @include border-button($primary);
    }
    h4 {
        color: $primary;
    }
    div {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
    }
    a:hover {
        color: $primary;
    }
    .cart-img {
        position: relative;
        margin: $paddingZero;
        transition: $hoverEffect;
        &:hover {
            transition: $hoverEffect;
            color: $primary;
        }
    }
}
.picture {
    width: $pictureWidth;
    height: $pictureWidth;
    background-color: $grey100;
    margin-left: 3px;
    svg {
        color: $grey400;
    }
    img {
        width: $elementWidth;
        height: $elementWidth;
        object-fit: cover;
    }
}