@use '/src/common/styles/colors' as *;

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    svg {
        position: absolute;
        margin: 5px;
    }
}
.product {
    width: 312px;
    border: 1px solid $grey100;
    padding: 12px;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .cart-img {
        position: relative;
        margin: 0;
    }
}
.picture {
    width: 280px;
    height: 280px;
    background-color: $grey100;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}