@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/templates' as *;
@use '/src/common/styles/breakpoints' as *;

.product {
    @include flex-wrap();
    >div {
        width: $elementWidthSecond;
    }
    .images {
        @extend %flex-center;
        padding-right: $imgPadding;
        svg {
            color: $grey400;
            margin: auto;
        }
    }
    @media screen and (max-width: $l){
        align-items: center;
        flex-direction: column;
        .images {
            width: $elementWidth;
            padding: $paddingZero;
        }
    }
}
.info {
    a {
        color: $primary;
        font-weight: 700;
        font-size: $paragraphFont;
    }
    button {
        @include btn(
            $white,
            $buttonPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius 
            );
        width: $elementWidthSecond;
        &:hover {
            background-color: $softPrimary;
        }
    }
    .price {
        font-size: $spanMargin;
    }
    @media screen and (max-width: $l){
        button {
            width: $elementWidth;
        }
    }
}
:global(.image-gallery-slide img){
    height: 300px;
    object-fit: contain;
}
:global(.image-gallery-thumbnail img) {
    height: $iconWidth;
    object-fit: contain;
}
:global(.image-gallery-content.fullscreen .image-gallery-slide img) {
    width: $elementWidthThird;
    height: $elementWidthThird;
    object-fit: contain;
}
:global(.image-gallery-content.fullscreen .image-gallery-thumbnail img) {
    height: $pageMarginSecond;
    object-fit: contain;
}