@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/templates' as *;

.page-padding {
    padding: $paddingZero $pageMargin $spanMargin $pageMargin;
    h2 {
        text-align: center;
        text-transform: capitalize;
    }
    .image, .link-home {
        @extend %flex-center;
        padding: $formGap;
    }
    .link-home, .personal-info {
        button { 
            @include btn(
            $white,
            $buttonPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius 
            );
            &:hover {
                background-color: $softPrimary;
            }
        }
    }
    .link-shop {
        @extend %flex-center;
    }
    .orders-list {
        padding: $spanMargin $paddingZero;
    }
    .filter {
        @extend %flex-center;
    }
    .filter {
        display: flex;
        padding: $formGap;
    }
    .paginate {
        @extend %flex-center;
        margin-bottom: $spanMargin;
    }
    .product-section {
        min-height: $inputWidthSecond;
    }
}
.admin {
    h2 {
        text-align: center;
        text-transform: capitalize;
    }
    ul {
        padding: $paddingZero $pageMargin;
    }
    .admin-links {
        @include border-bottom($grey100);
        display: flex;
        gap: $paragraphFont;
        padding-bottom: $formGap;
    }
    .active {
        color: $primary;
    }
}