@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/templates' as *;
@use '/src/common/styles/breakpoints' as *;

.order-info {
    padding: $spanMargin;
    background-color: $grey50;
    button {
        @include btn(
            $white,
            $cellPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius 
            );
            width: 20%;
            &:hover {
                background-color: $softPrimary;
            }
        }
}
.order-table {
    @extend %order-display;
    @include border-button($grey100);
    gap: $svgMargin;
    margin: auto;
    padding: $cellPadding;
    border-radius: $buttonPaddingSecond;
    text-transform: capitalize;
    table {
        @include border-button($grey400);
    }
    thead, tbody {
        @include border-button($grey300);
        width: $elementWidth;
    }
    th {
        @include border-button($grey200);
        width: 13%;
        padding: $cellPadding 46.4px;
    }
    td {
        @include border-button($grey100);
        width: 19%;
        text-align: center;
        padding: $cellPadding;
    }
    button {
        @include btn(
            $white,
            $cellPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius
            );
        width: $elementWidth;
        &:hover {
            background-color: $softPrimary;
        }
    }
    .products {
        width: $elementWidth;
        td {
            width: 5%;
        }
    }
    @media screen and (max-width: $m){
        th {
            padding: $cellPadding;
        }
        td, th, button {
            font-size: 11px;
        }
    }
    @media screen and (max-width: $s){
        td, th, button {
            font-size: 9px;
        }
    }
}