$softPrimary: #84D187;
$primary: #00B207;
$hardPrimary: #2C742F;
$warning: #FF8A00;
$danger: #EA4848;
$white: #FFFFFF;
$grey50: #F2F2F2;
$grey100: #E6E6E6;
$grey200: #CCCCCC;
$grey300: #B3B3B3;
$grey400: #999999;
$grey500: #808080;
$grey600: #666666;
$grey700: #4D4D4D;
$grey800: #333333;
$grey900: #1A1A1A;
$green50: #EDF2EE;
$green100: #DAE5DA;
$green200: #B4CCB4;
$green300: #96B297;
$green400: #7A997C;
$green500: #618062;
$green600: #406B42;
$green700: #2B572E;
$green800: #173B1A;
$green900: #002603;