@use '/src/common/styles/colors' as *;

$buttonPadding: 14px 16px;
$buttonPaddingSecond: 8px;
$buttonFontSize: 16px;
$buttonFontWeight: 600;
$buttonBorderRadius: 43px;
$buttonBorderRadiusSecond: 34px;
$inputBorderRadius: 6px;
$itemWidth: 25px;
$iconWidth: 40px;
$pictureWidth: 200px;
$formWidth: 520px;
$formMarginTop: 36px;
$formPadding: 24px;
$formGap: 12px;
$formGapSecond: 60px;
$formBoxShadow: 0px 0px 5px $grey100;
$inputHeight: 35px;
$inputWidth: 472px;
$inputWidthSecond: 400px;
$inputWidthThird: 100px;
$inputBorder: 1px solid $grey100;
$spanMargin: 20px;
$elementWidth: 100%;
$elementWidthSecond: 50%;
$elementWidthThird: 80%;
$cellPadding: 10px;
$paddingZero: 0;
$pageMargin: 50px;
$pageMarginSecond: 80px;
$cartPadding: 14px;
$svgMargin: 5px;
$imgMargin: 15px;
$imgPadding: 30px;
$linkFontSize: 38px;
$linkPadding: 4px;
$paragraphFont: 18px;
$hoverEffect: 0.5s;