@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/templates' as *;
@use '/src/common/styles/breakpoints' as *;

.form {
    @include form(
        $formWidth,
        $formMarginTop,
        $formBoxShadow,
        $formPadding,
        $formGap);
    h2 {
        text-align: center;
    }
    label {
        @extend %order-display;
        input[type="text"], input[type="number"] {
            @include input-text-btn(
                $inputHeight,
                $inputWidth,
                $inputBorder,
                $buttonFontSize,
                $buttonPadding
                );
        }
        input[type="checkbox"] {
            height: $spanMargin;
            width: $spanMargin;
            margin-left: $spanMargin;
        }
        input[type="file"] {
            display: flex;
            align-self: flex-start;
        }
        select {
            @include input-text-btn(
                $inputHeight,
                $inputWidth,
                $inputBorder,
                $buttonFontSize,
                $buttonPadding
                );
            color: $grey500;
            padding: $paddingZero $paddingZero $paddingZero $formGap;
        }
        span {
            width: 15%;
            padding: $buttonFontSize;
            color: $grey500;
        }
        .error {
            @extend %error-style;
            align-self: flex-start;
        }
    }
    button {
        @include btn(
            $white,
            $buttonPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius
            );
        &:hover {
            background-color: $softPrimary;
        }
    }
    .checkbox-label {
        @include flex-row();
    }
    @media screen and (max-width: $m) {
        width: $elementWidth;
        label {
            input[type="text"], input[type="number"], input[type="file"], select {
                width: $elementWidth;
            }
        }
        .checkbox-label {
            span {
                margin-right: $spanMargin;
            }
        }
    }
    @media screen and (max-width: $s) {
        .checkbox-label {
            span {
                margin-right: $spanMargin;
            }
        }
    }
}
.admin-table {
    @extend %order-display;
    @include border-button($grey100);
    gap: $formGap;
    margin: $cellPadding $formGapSecond;
    padding: $cellPadding;
    border-radius: $buttonPaddingSecond;
    text-transform: capitalize;
    table {
        @include border-button($grey300);
    }
    th {
        @include border-button($grey200);
        padding: $cellPadding;
    }
    td {
        @include border-button($grey100);
        text-align: center;
        padding: $cellPadding;
        img {
            width: $iconWidth;
            height: $iconWidth;
            object-fit: cover;
            margin-top: $cellPadding;
        }
        svg {
            cursor: pointer;
            margin-top: $cellPadding;
            &:hover {
                color: $primary;
            }
        }
    }
    select {
        @include input-text-btn(
            $inputHeight,
            $inputWidthThird,
            $inputBorder,
            $buttonFontSize,
            $buttonPadding 
            );
            color: $grey500;
            padding: $paddingZero $paddingZero $paddingZero $formGap;
            margin-bottom: $cellPadding;
            width: $elementWidth;
        }
    button {
        @include btn($white,
            $cellPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius
            );
        width: $elementWidth;
        &:hover {
            background-color: $softPrimary;
        }
    }
    .order-nav {
        @extend %order-display;
        .filter {
            @extend %flex-center;
            border: none;
            select {
                padding: $paddingZero;
                margin: $paddingZero;
            }
        }
    }
    .table-products, .table-orders, .table-categories, .table-stats {
        width: $elementWidth;
    }
    .table-orders {
        .product-table {
            margin: auto;
            width: $elementWidth;
        }
        tbody {
            padding: $imgPadding;
        }
    }
}
.product-info {
    margin: auto;
    td {
        width: $elementWidth;
    }
    .product-title {
        width: 35%;
    }
    .product-price {
        width: 10%;
    }
}