@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/templates' as *;
@use '/src/common/styles/breakpoints' as *;

.wrapper {
    @include flex-column();
}
.cart{
    @extend %flex-center;
    gap: $spanMargin;
}
section>div>div {
    @include border-button($grey100);
    border-radius: $buttonPaddingSecond;
}
.products-cart {
    width: 872px;
    p {
        text-align: center;
    }
    .cart-btn {
        @extend %flex-center;
        gap: $formGap;
        padding: $cartPadding 32px;
        justify-content: space-between;
        button {
            cursor: pointer;
        }
    }
    span>button, a {
        @include btn(
            $grey700,
            $buttonPadding,
            $grey50,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius);
        }
        button:hover, a:hover {
            background-color: $grey200;
        }
}
.cart-item {
    @extend %flex-center;
    @include border-bottom($grey100);
    justify-content: space-between;
    padding: $formGap;
    .product-title {
        @extend %flex-center;
        gap: $formGap;
        img {
            width: $pageMarginSecond;
            height: $pageMarginSecond;
            border-radius: $buttonPaddingSecond;
            margin-left: $imgMargin;
            margin-right: $imgMargin;
        }
        svg {
            color: $grey400;
        }
        p {
            color: $grey900;
            text-transform: capitalize;
        }
    }
    .quantity-btns {
        @extend %flex-center;
        @include border-button($grey100);
        gap: $spanMargin;
        width: 134px;
        height: $pageMargin;
        border-radius: $pageMargin;
        padding: $buttonPaddingSecond;
        button {
            @include border-button($grey100);
            color: $grey900;
            background-color: $grey50;
            width: $buttonBorderRadiusSecond;
            height: $buttonBorderRadiusSecond;
            border-radius: $buttonBorderRadiusSecond;
        }
    }
    @media screen and (max-width: $m) {
        font-size: $cartPadding;
        .product-title {
            gap: $paddingZero;
        }
        .quantity-btns {
            width: 74px;
            gap: $svgMargin;
            button {
                width: $formPadding;
                height: $formPadding;
            }
        }
    }
}
.cart-header {
    @extend %flex-center;
    @include border-bottom($grey100);
    justify-content: space-between;
    padding: $paddingZero 120px $paddingZero $formGap;
    @media screen and (max-width: $m) {
        justify-content: center;
        gap: $itemWidth;
        padding: $paddingZero;
    }
}
.cart-form {
    @include form(
        $formWidth,
        $formMarginTop,
        $formBoxShadow,
        $formPadding,
        $formGap
        );
    label {
        @include flex-column();
        input, select {
            @include input-text-btn(
                $inputHeight,
                $inputWidth,
                $inputBorder,
                $buttonFontSize,
                $buttonPadding 
                );
            }
        select {
            color: $grey500;
            text-transform: capitalize;
            padding: $paddingZero $paddingZero $paddingZero $formGap;
        }
    }
    button {
        @include btn(
            $white,
            $buttonPadding,
            $primary,
            $buttonFontSize,
            $buttonFontWeight,
            $buttonBorderRadius
            );
        &:hover {
            background-color: $softPrimary;
        }
    }
    @media screen and (max-width: $m){
        @include form(
            $elementWidth,
            $formMarginTop,
            $formBoxShadow,
            $formPadding,
            $formGap
            );
        label {
            input, select {
                @include input-text-btn(
                    $inputHeight,
                    $elementWidth,
                    $inputBorder,
                    $buttonFontSize,
                    $buttonPadding 
                    );
                }
            select {
                height: 45px;
            }
        }
    }
}